.logo-img {
  max-width: 100px;   /* default size */
  height: auto;
}

@media (max-width: 768px) {
  .logo-img {
    max-width: 80px;  /* smaller on tablets and phones */
  }
}

@media (max-width: 576px) {
  .logo-img {
    max-width: 60px;  /* smallest on phones */
  }
}

.custom-navbar {
    background-color: rgb(247, 225, 225);
 }

  .custom-text ul li a{
    font-weight:600;
    font-size: 20px;
  }
 .custom-text ul li a:hover{

   color: rgb(235, 111, 111);
 }
 .form-input{
    border: 2px solid rgba(128, 128, 128, 0.411);
 }
 .form-input:hover:hover{
    box-shadow: 0 0 10px rgb(240, 145, 145);
 }
 .card-img-top{
    width: 70px;
 }
.testimonial-card{
    align-items: center;
 }
.testimonial-card:hover{
    box-shadow: 0 0 10px rgb(240, 145, 145);}
.footer{
    background-color: rgb(247, 225, 225);
    position: fixed bottom 0;
    width: 100%;
}
